.new_post, .new_user {
  font-size: 1.1rem;
  height: 100%;
}

.field, .actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 12px auto;
  width: 90vw;
}

.field label {
  font-size: 1.1em;
  margin-bottom: 2px;
}

.field input {
  border: 1px solid #ccc;
  font-size: 1.1em;
  height: 25px;
  max-width: 43vw;
}

.post_body textarea {
  border: 1px solid #ccc;
  font-size: 1.1em;
  height: 250px;
}

.actions {
  height: 30px;
  max-width: 250px;
}

.actions input {
  border: none;
  height: 100%;
  width: 100%;
}

.remember_me_field {
  align-items: center;
  flex-direction: row;
  gap: 3px;
  justify-content: center;
}

.remember_me_field label {
  margin-bottom: 0;
}

#user_remember_me {
  width: 20px;
}
