.posts {
  font-size: 1.1rem;
  margin-top: 20px;
}

h2 {
  margin-top: 12px;
  text-align: center;
}

.posts form {
  height: 30px;
  margin: 0 auto;
  width: 60%;
}

.posts input {
  border: 1px lightgrey;
  font-size: 1.1rem;
  height: 100%;
  width: 100%;
}

.post {
  border: 2px solid #393e41;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-height: 70vw;
  max-width: 330px;
  padding: 20px;
  width: 70vw;
}

.post-content {
  overflow: hidden;
}

.see-more {
  flex: 1 0 auto;
  height: 30px;
  margin: 12px auto;
  width: 30%;
}

footer a {
  color: #393e41;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-decoration: none;
}

footer a:active {
  color: #7f8a91;
}
